.header {
    padding: 30px;
    text-align: center;
    background: white;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    font-weight: thin;
    
  }
.container {
    position: relative;
    text-align: center;
    background-size: cover; 
    margin: -4mm;
    color: white;    
  }


/* Centered text */
.centered {
    position: absolute;
    top: 45%;
    left: 58%;
    transform: translate(-50%, -50%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
  }

.name {
    position: absolute;
    top: 55%;
    left: 58%;
    transform: translate(-50%, -50%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
  }

.titles{
  background-color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  font-size: 30px;
  color: black;
  padding: 75px;
}

.center {
  display: block;  
  margin-left: 200px;
  width: 10%;
 }

.institute{
  margin-left: 300px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 22px;
  color: #052d9c;
}

.position{
  margin-left: 300px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 17px;
  color: darkgreen;
}
.location{
  margin-left: 300px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  color:#9c7405;
}

.description{
  margin-left: 300px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 15px;
  color:black;
}

.academia {
  position: absolute;
    top: 590%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  font-size: 30px;
  color: black;
  
  
}
.atitle{
  background-color: bisque;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  font-size: 30px;
  color: black;
  padding: 50px;
  
}  


a:link {
  color: #052d9c;
 text-decoration: none;
}

a:visited {
  color: #052d9c;
 text-decoration: none;
}

  

  a:hover {
  color: indianred;
 text-decoration:none;
  }

  .parallax1{
/* The image used */
background-image: url("C:\\Users\\Parin Joshi\\Desktop\\Website\\Pictures\\IMG_963.jpg");
opacity: 0.95;
margin: -3px;


/* Set a specific height */
height: 500px;
width: 1265px;


/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size:cover;
}



.button {
border-radius: 4px;
background-color: bisque;
border: none;
color: #052d9c;
text-align: center;
font-size: 28px;
padding: 2px;
width: 600px;
transition: all 0.5s;
cursor: pointer;
margin-top: 30px;
margin-left: -20px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.button span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
color: indianred;
}

.button span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}

.button:hover span {
padding-right: 25px;
}

.button:hover span:after {
background-color: bisque;
border: none;
opacity: 1;
right: 0;
}

.certificate{
  padding: 45px;
  text-align: center;
  background: indianred;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 35px;   
}

.zoom {
  padding: 50px;
  display: block;  
  transition: transform .2s; /* Animation */
  width: 200px;
  height: 200px;
  margin-left: 100px;
  margin-bottom: 10%;
  margin-top: 5%;
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}



.i2{
 margin-top: -20%;
  margin-left: 300px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 22px;
  color: #052d9c;

}
.p2{
  
  margin-left: 300px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 17px;
  color: darkgreen;
}
.d2{
  margin-left: 300px;
  
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 15px;
  color:black;
}

.art{
  background-color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  font-size: 30px;
  color: white;
  padding: 50px;
  
}  
.subhead{
  
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  font-size: 18px;
  color: white;
  margin-left: 300px;
  margin-right: 300px;
  
  
} 
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.contact{
  background-color: ;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  font-size: 30px;
  color: black;
  padding: 50px;
  
}  


.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}


.column1 {
  float: left;
  width: 25%;
  
}

/* Clear floats after image containers */
.row1::after {
  content: "";
  clear: both;
  display: table;
}

.zoom2 {
 
  display: block;  
  transition: transform .2s; /* Animation */
  width: 200px;
  height: 200px;
 margin-left: 250px;
}

.zoom2:hover {
  transform: scale(1.25); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.subhead2{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
text-align: center;
font-size: 18px;
color: black;
margin-left: 300px;
margin-right: 300px;
} 
.mailto{
  
  width:100px;
  height:20px;
}

.blog{
  padding: -50px;
  text-align: center;
  
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 35px;   
}
@import url('https://fonts.googleapis.com/css?family=Montserrat:900i&display=swap');



.span2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:80px;
	letter-spacing:5;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
  text-shadow: 
						8px 8px black;
						
}
